
#grid {
    display: flex;
    gap: 3px;
    width: 80%;
}

.column {
    display: flex;
    gap: 3px;
    flex-direction: column;
    width: 100px;
}

.grid-item {
    background-color: lightgrey;
    aspect-ratio: 1 / 1;
}

body {
    justify-items: center;
}